// Fonts
@font-face {
  font-family: FreeSetBlackC;
  src:  url('FreeSetBlackC.otf');
}
$font_small_light: 300 13px/16px "Open Sans", sans-serif;
$font_base_light: 300 15px/18px "Open Sans", sans-serif;
$font_base: 400 15px/18px "Open Sans", sans-serif;
$font_label_primary: 600 34px/38px "Open Sans", sans-serif;
$font_logo: 700 20px/24px "FreeSetBlackC", FreeSetBlackC;

