@import 'variables';

.clearfix {
  overflow: hidden;
  clear: both;
  &::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

//Paddings
.padding-general {
  padding-left: $padding-general-left-mobile;
  padding-right: $padding-general-right-mobile;
  padding-top: $padding-general-top-mobile;
  padding-bottom: $padding-general-bottom-mobile;
}
.padding-general-header {
  padding-left: $padding-general-left-mobile;
  padding-right: $padding-general-right-mobile;
}
.padding-general-footer-bottom {
  padding-left: $padding-general-left-mobile;
  padding-right: $padding-general-right-mobile;
  padding-top: $padding-general-top-mobile;
  padding-bottom: $padding-general-bottom-mobile;
}
.padding-general-page-title-block {
  padding-left: $padding-general-left-mobile;
  padding-right: $padding-general-right-mobile;
  padding-top: $padding-page-title-block-top-mobile;
  padding-bottom: $padding-page-title-block-bottom-mobile;
}

//Background colors
.primary-color {
  background-color: $bg-primary;
}
.primary-color-dark {
  background-color: $bg-primary-dark;
}
.primary-color-light {
  background-color: $bg-primary-light;
}
.secondary-color-green {
  background-color: $bg-dropdown;
}

// Fonts
.title {
  .horizontal-block & {
    font: $font-base;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  .vertical-block & {
    font-size: 24px;
    font-weight: 600;
  }
}
.short-description {
  .horizontal-block & {
    font: $font-base;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
}

// Links
a {
  text-decoration: none;
  color: $link-primary;
  cursor: pointer;
  .breadcrumb-block & {
    &:hover {
      color: $link-primary-pressed
    }
  }
  .menu-block-footer & {
    color: $white;
    &:hover {
      color: $link-secondary-pressed;
    }
  }
  .parent-menu & {
    color: $black;
  }
  .child-menu & {
    &:hover {
      color: $white;
    }
  }
}

//Buttons
.button-detail {
  background-color: $green;
  color: $white;
  border: none;
  padding: 12px 50px;
  text-transform: uppercase;
  font: $font-base;
  font-weight: 600;
}
