// Main colors
$white:              #fff;
$black:              #000;
$blue:            #007bff;
$red:             #dc3545;
$yellow:          #ffc107;
$green:           #bed33f;
$grey:            #a0a0a0;


// Background colors
$bg-primary:         #6e7073;
$bg-primary-light:   #e2e2e2;
$bg-primary-dark:    #424750;
$bg-dropdown:        #bed33f;


// Text colors
$text-primary:           $black;
$text-secondary:         $white;
$link-primary:          #7a7a7a;
$link-primary-pressed:  #587daa;
$link-secondary-pressed: $green;


// Paddings desktop and tablets
$padding-header-top:              20px;
$padding-header-bottom:           20px;
$padding-general-left:            75px;
$padding-general-right:           75px;
$padding-page-title-block-top:    55px;
$padding-page-title-block-bottom: 55px;
$padding-general-top:             35px;
$padding-general-bottom:          35px;
$padding-breadcrumb-top:          35px;
$padding-li-bullet:               10px;
$text-indent-li-bullet:          -17px;

// Paddings mobile
$padding-header-top_mobile:              5px;
$padding-header-bottom_mobile:           5px;
$padding-general-left_mobile:            15px;
$padding-general-right_mobile:           15px;
$padding-page-title-block-top_mobile:    15px;
$padding-page-title-block-bottom_mobile: 15px;
$padding-general-top_mobile:             15px;
$padding-general-bottom_mobile:          15px;
$padding-breadcrumb-top_mobile:          15px;
$padding-li-bullet_mobile:               15px;
$text-indent-li-bullet_mobile:            0px;

// Margins
$dropdown-menu-item-top: 6px;