@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import 'variables';
html,
body {
  min-width: 300px;
  height: 100%;
  margin: 0;
}
h1 {
  margin: 0;
}
ul {
  margin: 0;
}
p {
  margin: 0;
}
//Header styles
.header {
  .logo-block {
    display: inline-block;
    height: $header-navigation;
    .main-logo {
      display: inline-block;
      width: 45px;
      height: 100%;
    }
    .company-name{
      display: none;
    }
  }
  .top-menu-list {
    display: inline-block;
    float: right;
    height: $header-navigation;
    &-item {
      display: inline-block;
      height: 100%;
      width: 67px;
      position: relative;
      img {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}
//Top dropdown-menu styles
.dropdown-menu-list {
  width: 100%;
  position: relative;
  .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    @include span(3);
    .parent-menu {
      @include span(3);
      > li {
        @include span(1.5 first);
      }
      .child-menu {
        @include span(1.5 last);
        //height of first parent li element
        margin-top: -38px;
      }
    }
  }
  .dropdown-menu-search {
    display: none;
    position: absolute;
    top: 0;
    @include span(3);
  }
}
//Main content styles
//.dropdown-menu {
//  .menu-item {
//    margin-top: 6px;
//    &:first-child {
//      margin-top: 0;
//    }
//  }
//}
.main-page-slider {
  height: 550px;
  .slider-navigation {
    height: 100%;
    width: 100%;
    position: relative;
    .prev {
      position: absolute;
    }
    .next {
      position: absolute;
    }
    .bottom-nav {
      position: absolute;
    }
  }
}
.main-content-blocks-list {
  .one-column {
    display: block;
  }
  .main-content-blocks-list-item {
    height: 328px;
    margin-top: 14px;
    width: 100%;
  }
  .taxes {
    position: relative;
    width: 100%;
    .expanded-description-block {
      display: block;
      height: 60%;
      position: absolute;
      bottom: 0;
      .short-description {
        margin-bottom: 55px;
      }
    }
  }
}

//Footer styles
.logo-block-footer {
  display: inline-block;
  .logo-item {
    display: inline-block;
    &:first-child {
      margin-right: 35px;
    }
  }
}
.social-media {
  display: inline-block;
  &-item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.form-field {
  position: relative;
  box-sizing: border-box;
}
.search-block-footer {
  margin-top: 65px;
  .search {
    height: 30px;
    width: 100%;
  }
  .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px;
  }
}
.menu-column {
  @include span(1.5);
  &:last-child {
    @include span(3 last);
  }
  li {
    margin-top: 10px;
  }
}

@include breakpoint(380px, 3) {
  .header {
    .logo-block {
      .main-logo {
        margin-right: 10px;
      }
      .company-name {
        display: inline-block;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
      }
    }
  }
}

@include breakpoint(720px, 6) {
  .logo-block-footer {
    float: left;
  }
  .social-media {
    float: right;
  }
  .menu-column {
    @include span(1.5 of 6);
    margin-top: 55px;
    &:last-child {
      @include span(3 of 6 last);
    }
  }
}