@charset "UTF-8";
@import url(../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css);
@import url(../../../node_modules/owl.carousel/dist/assets/owl.theme.default.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic);
html,
body {
  min-width: 300px;
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0; }

ul {
  margin: 0; }

p {
  margin: 0 0 15px 0; }

.owl_carousel_simple {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0; }
  .owl_carousel_simple .owl-dots {
    bottom: -10px;
    position: absolute;
    text-align: center;
    width: 100%; }
    .owl_carousel_simple .owl-dots span {
      background: grey;
      border-radius: 100%;
      display: inline-block;
      height: 10px;
      width: 10px; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-nav {
  position: absolute;
  top: calc(50% - 30px);
  width: 100%;
  z-index: 1; }
  .owl-nav * {
    display: block;
    height: 60px;
    width: 60px; }

.owl-prev {
  float: left;
  margin-left: 10px;
  opacity: .4; }
  .owl-prev:hover {
    opacity: 1; }
  .owl-prev .icon-arrow-left7 {
    position: relative; }
    .owl-prev .icon-arrow-left7 .material-icons {
      left: 4px;
      opacity: 1;
      position: absolute;
      top: 39px; }

.owl-next {
  float: right;
  margin-right: 10px;
  opacity: .4; }
  .owl-next:hover {
    opacity: 1; }
  .owl-next .icon-arrow-right7 {
    position: relative; }
    .owl-next .icon-arrow-right7 .material-icons {
      left: 4px;
      opacity: 1;
      position: absolute;
      top: 39px; }

.owl-dot {
  display: inline-block;
  margin-right: 15px; }
  .owl-dot:last-child {
    margin-right: 0; }
  .owl-dot.active span {
    background: red; }

.item {
  width: 400px;
  height: 400px;
  background-color: #003f54; }

.header .logo-block {
  display: inline-block;
  height: 75px; }
  .header .logo-block .main-logo {
    display: inline-block;
    width: 45px;
    height: 100%; }
  .header .logo-block .company-name {
    display: none; }
.header .top-menu-block {
  display: inline-block;
  float: right; }
  .header .top-menu-block .navigation-list {
    display: none; }
  .header .top-menu-block .top-menu-list {
    display: inline-block;
    height: 75px; }
    .header .top-menu-block .top-menu-list .sitemap {
      display: none; }
    .header .top-menu-block .top-menu-list .top-menu-list-item .search:hover .dropdown-menu-search {
      display: block; }
    .header .top-menu-block .top-menu-list-item {
      display: inline-block;
      height: 100%;
      width: 67px;
      position: relative; }
      .header .top-menu-block .top-menu-list-item img {
        margin: 0 auto;
        position: relative; }

.dropdown-menu-search {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%; }

.dropdown-menu-list {
  width: 100%;
  position: relative; }
  .dropdown-menu-list .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    z-index: 3;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%; }
      .dropdown-menu-list .dropdown-menu-navigation .child-menu li {
        margin-top: 10px; }
        .dropdown-menu-list .dropdown-menu-navigation .child-menu li:first-child {
          margin-top: 0; }

.one-column {
  display: block; }

.two-columns {
  display: none; }

.main-content-list .horizontal-block {
  max-width: 328px;
  margin: 15px auto 0 auto;
  height: 328px; }
  .main-content-list .horizontal-block .expanded-description-block {
    display: none;
    height: 60%;
    position: absolute;
    bottom: 0; }
    .main-content-list .horizontal-block .expanded-description-block .short-description {
      margin-bottom: 55px; }
.main-content-list .vertical-block {
  max-width: 328px;
  height: 328px;
  margin: 15px auto 0 auto; }
  .main-content-list .vertical-block .expanded-description-block {
    display: none;
    height: 60%;
    position: absolute;
    bottom: 0; }
  .main-content-list .vertical-block .short-description {
    margin-bottom: 37px; }
  .main-content-list .vertical-block .date-block {
    margin-bottom: 20px; }
.main-content-list .news-block .expanded-description-block {
  display: none;
  bottom: auto;
  position: absolute; }
.main-content-list .news-block .short-description {
  margin-bottom: 37px; }
.main-content-list .news-block .date-block {
  margin-bottom: 20px; }
.main-content-list .taxes,
.main-content-list .ai,
.main-content-list .personal,
.main-content-list .technology,
.main-content-list .news-first,
.main-content-list .work {
  position: relative;
  width: 100%; }
  .main-content-list .taxes:hover > .expanded-description-block,
  .main-content-list .ai:hover > .expanded-description-block,
  .main-content-list .personal:hover > .expanded-description-block,
  .main-content-list .technology:hover > .expanded-description-block,
  .main-content-list .news-first:hover > .expanded-description-block,
  .main-content-list .work:hover > .expanded-description-block {
    display: block; }
  .main-content-list .taxes:hover > .greenatom-icon,
  .main-content-list .ai:hover > .greenatom-icon,
  .main-content-list .personal:hover > .greenatom-icon,
  .main-content-list .technology:hover > .greenatom-icon,
  .main-content-list .news-first:hover > .greenatom-icon,
  .main-content-list .work:hover > .greenatom-icon {
    display: none; }
.main-content-list .news-archive-icon,
.main-content-list .greenatom-icon {
  display: block;
  margin: 0 auto 50px auto; }
.main-content-list .vk,
.main-content-list .facebook,
.main-content-list .instagram {
  display: none; }

.logo-block-footer {
  display: inline-block; }
  .logo-block-footer .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px; }

.social-media-block {
  display: inline-block; }
  .social-media-block .title-before {
    display: none; }
  .social-media-block .social-media-list {
    display: inline-block; }
    .social-media-block .social-media-list-item {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 17px; }
      .social-media-block .social-media-list-item:first-child {
        margin-left: 0; }

.form-field {
  position: relative;
  box-sizing: border-box; }

.dropdown-menu-sitemap {
  display: none; }

.dropdown-menu-search .dropdown-menu-search-inner {
  padding: 20px; }
.dropdown-menu-search .search {
  height: 30px;
  width: 100%; }
.dropdown-menu-search .button-submit {
  position: absolute;
  top: 5px;
  right: 0;
  width: 25px;
  height: 22px; }

.search-block-footer {
  margin-top: 15px; }
  .search-block-footer .search {
    height: 30px;
    width: 100%; }
  .search-block-footer .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px; }

.menu-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 3.3333333333%;
  padding-right: 3.3333333333%; }
  .menu-column:last-child {
    margin-top: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }
  .menu-column li {
    margin-top: 10px; }
    .menu-column li:first-child {
      margin-top: 0; }

@media (min-width: 380px) {
  .header .logo-block .main-logo {
    margin-right: 10px; }
  .header .logo-block .company-name {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle; } }
@media (min-width: 720px) {
  .header .top-menu-block .top-menu-list .sitemap {
    display: inline-block; }

  .dropdown-menu-search {
    width: 100%; }
    .dropdown-menu-search .dropdown-menu-search-inner {
      padding: 25px; }
    .dropdown-menu-search .form-field {
      width: 571px;
      margin: 0 auto; }

  .main-content-list .horizontal-block {
    width: 100%;
    max-width: 670px;
    margin: 15px auto 0 auto; }
    .main-content-list .horizontal-block .expanded-description-block {
      height: 146px; }
  .main-content-list .vertical-block {
    max-width: 328px;
    margin: 0; }
  .main-content-list .main-content-list-items {
    margin: 15px auto 0 auto;
    max-width: 670px; }
    .main-content-list .main-content-list-items .main-content-list-item {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 1.6666666667%;
      padding-right: 1.6666666667%; }
      .main-content-list .main-content-list-items .main-content-list-item:last-child {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: right;
        padding-left: 1.6666666667%;
        padding-right: 1.6666666667%; }
    .main-content-list .main-content-list-items .social-media {
      padding-left: 0;
      padding-right: 0; }
  .main-content-list .taxes {
    position: relative;
    width: 100%; }
  .main-content-list .vk {
    display: block;
    height: 156px;
    width: 157px;
    float: left; }
  .main-content-list .facebook {
    display: block;
    height: 156px;
    width: 157px;
    float: right; }
  .main-content-list .instagram {
    margin-top: 15px;
    display: block;
    height: 157px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }

  .logo-block-footer {
    float: left; }
    .logo-block-footer .logo-item {
      margin-right: 35px; }

  .social-media-block {
    float: right; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
    margin-top: 30px; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding-left: 1.6666666667%;
      padding-right: 1.6666666667%;
      margin-top: 30px; }

  .search-block-footer {
    margin-top: 30px; } }
@media (min-width: 1200px) {
  .dropdown-menu-search .dropdown-menu-search-inner {
    padding: 25px; }
  .dropdown-menu-search .form-field {
    width: 571px;
    float: right;
    margin-right: 75px; }

  .main-content .main-content-list .news-second:hover .expanded-description-block {
    display: block; }
  .main-content .main-content-list .news-second:hover .news-second-image {
    display: none; }
  .main-content .main-content-list .news-second:hover .news-second-description-inner {
    display: none; }
  .main-content .main-content-list .news-second .expanded-description-block {
    display: none;
    padding: 0 !important;
    height: 277px;
    width: 277px;
    background: url(../../images/news-2-back-active.png) no-repeat 0 center; }
  .main-content .main-content-list .news-second-description-inner {
    height: 132px;
    background-color: #fff;
    padding: 25px 40px 30px 40px;
    font-size: 13px; }
    .main-content .main-content-list .news-second-description-inner .date-block {
      margin-bottom: 5px; }
  .main-content .main-content-list .work {
    padding-top: 35px; }
  .main-content .main-content-list .vk,
  .main-content .main-content-list .facebook {
    height: 132px;
    width: 132px; }
  .main-content .main-content-list .instagram {
    height: 132px;
    width: 275px; }
  .main-content .main-content-list .horizontal-block {
    width: 564px;
    height: 421px; }
    .main-content .main-content-list .horizontal-block .expanded-description-block .short-description {
      margin-bottom: 25px; }
  .main-content .main-content-list .media-archive {
    height: 277px; }
  .main-content .main-content-list .rewards {
    width: 564px;
    height: 132px;
    background: url(../../images/rewards.png) no-repeat 0 center; }
    .main-content .main-content-list .rewards:hover {
      background: url(../../images/rewards-active.png) no-repeat 0 center; }
    .main-content .main-content-list .rewards .rewards-title {
      margin-bottom: 35px; }
    .main-content .main-content-list .rewards .rewards-list-item {
      display: inline-block;
      font-size: 18px;
      margin-right: 5px; }
  .main-content .main-content-list .vertical-block {
    width: 276px;
    height: 277px; }
    .main-content .main-content-list .vertical-block .short-description {
      margin-bottom: 25px; }
  .main-content .main-content-list .clients-slider {
    height: 277px; }
  .main-content .main-content-list .main-content-list-items {
    width: 564px; }
    .main-content .main-content-list .main-content-list-items .main-content-list-item:last-child {
      width: 276px; }
    .main-content .main-content-list .main-content-list-items .news-first-description {
      width: 51% !important;
      height: 276px; }

  .one-column {
    display: none; }

  .two-columns {
    display: block;
    padding-bottom: 85px; }

  .first-column {
    max-width: 564px;
    float: left; }

  .second-column {
    max-width: 564px;
    float: right; }

  .header .top-menu-block .navigation-list {
    display: inline-block;
    height: 75px; }
    .header .top-menu-block .navigation-list-item {
      display: inline-block;
      text-transform: uppercase;
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      color: #fff;
      font-size: 13px; }
    .header .top-menu-block .navigation-list .navigation-list-item::before {
      padding-right: 10px;
      padding-left: 10px;
      content: "•";
      color: #bed33f;
      font-size: 14px;
      font-weight: 600; }
    .header .top-menu-block .navigation-list .navigation-list-item:first-child:before {
      content: " "; }
  .header .top-menu-block .top-menu-list .navigation {
    display: none; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.2857142857%;
    float: left;
    padding-left: 1.4285714286%;
    padding-right: 1.4285714286%;
    margin-top: 55px; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 48.5714285714%;
      float: right;
      padding-left: 1.4285714286%;
      padding-right: 1.4285714286%;
      margin-top: 55px; }

  .menu-block-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }

  .social-media-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    text-align: right; }
    .social-media-block .title-before {
      display: inline-block;
      height: 41px;
      line-height: 100%;
      vertical-align: middle;
      color: #fff;
      margin-right: 20px; }

  .search-block-footer {
    margin-top: 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    .search-block-footer .search {
      height: 30px;
      width: 100%; }
    .search-block-footer .button-submit {
      position: absolute;
      top: 5px;
      right: 0;
      width: 25px;
      height: 22px; } }
.clearfix {
  overflow: hidden;
  clear: both; }
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.main-content-wrapper,
.header-inner,
.footer-bottom-inner,
.footer-main-inner {
  max-width: 1140px;
  margin: 0 auto; }

.padding-general {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-header {
  padding-left: 10px;
  padding-right: 10px; }

.padding-general-footer-bottom {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-page-title-block {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.primary-color {
  background-color: #6e7073; }

.primary-color-dark {
  background-color: #424750; }

.primary-color-light {
  background-color: #e2e2e2; }

.secondary-color-green {
  background-color: #bed33f; }

.horizontal-block .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; }
.vertical-block .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; }

.media-archive-title {
  font-size: 24px;
  line-height: 24px;
  text-align: center; }

.vertical-block .no-dot-title {
  font-size: 24px;
  line-height: 24px;
  text-align: center; }

.vertical-block .date-block {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px; }

.horizontal-block .short-description {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px; }

.font-white {
  color: #fff; }

.font-black {
  color: #000; }

a {
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer; }
  .breadcrumb-block a:hover {
    color: #587daa; }
  .menu-block-footer a {
    color: #fff; }
    .menu-block-footer a:hover {
      color: #bed33f; }
  .parent-menu a {
    color: #000; }

.horizontal-block .button-detail {
  background-color: #bed33f;
  color: #fff;
  border: none;
  padding: 12px 50px;
  text-transform: uppercase;
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600; }
.vertical-block .button-detail {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 50px;
  text-transform: uppercase;
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600; }

@media (min-width: 720px) {
  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 75px;
    padding-right: 75px; }

  .horizontal-block .short-description {
    font: 400 15px/18px "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; } }
@media (min-width: 1200px) {
  .padding-general,
  .padding-general-header,
  .padding-general-footer-bottom,
  .padding-general-page-title-block {
    padding-left: 30px;
    padding-right: 30px; }

  .padding-general {
    padding-top: 45px;
    padding-bottom: 45px; }

  .horizontal-block .button-detail {
    background-color: #bed33f;
    color: #fff;
    border: none;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 400 15px/18px "Open Sans", sans-serif;
    font-weight: 600; }
  .vertical-block .button-detail {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 30px;
    text-transform: uppercase;
    font: 400 15px/18px "Open Sans", sans-serif;
    font-weight: 600; } }
html,
body {
  padding: 0;
  font: 400 15px/18px "Open Sans", sans-serif; }

h1 {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 34px/38px; }

ul {
  list-style: none;
  padding: 0; }
  .parent-menu ul {
    list-style-type: disc; }

.header .logo-block .company-name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600; }
.header .logo-block .main-logo {
  background: url(../../images/logo-main.png) no-repeat center center; }
.header .top-menu-list {
  font-size: 0; }
  .header .top-menu-list .navigation {
    background: #6e7073 url(../../images/icon-navigation.png) no-repeat center center; }
    .header .top-menu-list .navigation:hover {
      background: #bed33f url(../../images/icon-navigation-white.png) no-repeat center center; }
  .header .top-menu-list .sitemap {
    background: #6e7073 url(../../images/icon-sitemap.png) no-repeat center center; }
    .header .top-menu-list .sitemap:hover {
      background: #bed33f url(../../images/icon-sitemap-white.png) no-repeat center center; }
  .header .top-menu-list .search {
    background: #6e7073 url(../../images/icon-search.png) no-repeat center center; }
    .header .top-menu-list .search:hover {
      background: #bed33f url(../../images/icon-search-white.png) no-repeat center center; }

.dropdown-menu-list .dropdown-menu-navigation {
  background-color: #bed33f; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li:hover {
      background-color: #ecf2c6; }
  .dropdown-menu-list .dropdown-menu-navigation .child-menu {
    padding-left: 35px; }
    .dropdown-menu-list .dropdown-menu-navigation .child-menu li:hover {
      color: #fff; }
.dropdown-menu-list .dropdown-menu-search {
  background-color: #bed33f; }

.main-content {
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 );
  /* IE6-9 */ }
  .main-content .one-column {
    padding-bottom: 65px; }
  .main-content .main-page-slider {
    padding-right: 10px;
    padding-left: 10px; }
  .main-content .page-title-block {
    background-color: #e2e2e2; }
  .main-content .breadcrumb-block {
    padding-top: 35px; }
  .main-content .dropdown-menu {
    font: 400 15px/18px "Open Sans", sans-serif;
    box-shadow: 0 2px 4px #a0a0a0; }
    .main-content .dropdown-menu li {
      text-indent: 0px; }
    .main-content .dropdown-menu li::before {
      padding-right: 10px;
      content: "•";
      color: #fff;
      font: 400 15px/18px "Open Sans", sans-serif; }
  .main-content .news-archive {
    padding-top: 65px; }
  .main-content .work {
    padding-top: 65px;
    background-color: #b7ce44; }
    .main-content .work:hover {
      background: #bdd933; }
    .main-content .work li::before {
      padding-right: 10px;
      content: "•";
      color: #fff;
      font: 400 15px/18px "Open Sans", sans-serif; }
  .main-content .taxes {
    background: url(../../images/taxes-mob.png) no-repeat center center; }
  .main-content .ai {
    background: url(../../images/ai-background-mob.png) no-repeat center center; }
    .main-content .ai:hover {
      cursor: pointer;
      background: #216c8a; }
  .main-content .clients-slider {
    background-color: #5978b6; }
  .main-content .office-process {
    background: url(../../images/office-process-background-mob.png) no-repeat center center; }
  .main-content .personal {
    background: url(../../images/personal-manage-background.png) no-repeat center center; }
  .main-content .center {
    background: url(../../images/center-background-mob.png) no-repeat center center; }
  .main-content .agency {
    background: url(../../images/agency-background-mob.png) no-repeat center center; }
  .main-content .technology {
    background: url(../../images/technology-background.png) no-repeat center center; }
  .main-content .news-first {
    background: url(../../images/news-1-mob.png) no-repeat center center; }
    .main-content .news-first:hover {
      cursor: pointer;
      background: #dd9665; }
  .main-content .news-archive {
    background-color: #5978b6; }
    .main-content .news-archive:hover {
      cursor: pointer;
      background: #496299; }
  .main-content .media-archive {
    background-color: #5978b6; }
  .main-content .social-media .vk {
    background: url(../../images/social-vk-inactive.png) no-repeat center center; }
    .main-content .social-media .vk:hover {
      background: url(../../images/social-vk-active.png) no-repeat center center; }
  .main-content .social-media .facebook {
    background: url(../../images/social-fb-inactive.png) no-repeat center center; }
    .main-content .social-media .facebook:hover {
      background: url(../../images/social-fb-active.png) no-repeat center center; }
  .main-content .social-media .instagram {
    background: url(../../images/social-inst-inactive-mob.png) no-repeat center center; }
    .main-content .social-media .instagram:hover {
      background: url(../../images/social-inst-active-mob.png) no-repeat center center; }
  .main-content .main-content-list .horizontal-block .expanded-description-block {
    padding: 25px 30px;
    background-color: #fff; }
  .main-content .main-content-list .vertical-block .expanded-description-block {
    padding: 15px 30px; }
  .main-content .main-content-list .news-second-expanded-description-inner,
  .main-content .main-content-list .news-third-expanded-description-inner,
  .main-content .main-content-list .news-fourth-expanded-description-inner {
    padding: 75px 25px 75px 40px; }
  .main-content .main-content-list .news-block .expanded-description-block {
    padding: 85px 30px 0 30px; }
  .main-content .main-content-list .news-block .date-block {
    background: url(../../images/icon-calendar-white.png) no-repeat 0 center;
    padding-left: 25px; }
  .main-content .main-content-list .news-second .date-block {
    background: url(../../images/icon-calendar.png) no-repeat 0 center; }
  .main-content .main-content-list .news-fourth {
    background: url(../../images/news-4-back.png) no-repeat 0 center; }
    .main-content .main-content-list .news-fourth:hover {
      background: #16b9b7; }
    .main-content .main-content-list .news-fourth .date-block {
      background: url(../../images/icon-calendar-white.png) no-repeat 0 center; }
  .main-content .main-content-list .news-third {
    background-color: #fff; }
    .main-content .main-content-list .news-third:hover {
      background-color: #5f7dc1; }
    .main-content .main-content-list .news-third .date-block {
      background: url(../../images/icon-calendar.png) no-repeat 0 center; }
  .main-content .main-content-list .title {
    padding: 25px 30px;
    text-indent: -20px; }
  .main-content .main-content-list .media-archive-title {
    padding: 25px 30px; }
  .main-content .main-content-list .title::before {
    padding-right: 10px;
    content: "•";
    color: #bed33f;
    font-size: 24px;
    font-weight: 600; }

.rewards-title {
  font-size: 32px;
  font-weight: 300; }

.rewards-inner {
  padding-top: 35px;
  padding-left: 40px; }

.footer-bottom {
  color: #fff;
  text-align: center; }

.logo-block-footer {
  vertical-align: top; }
  .logo-block-footer .logo-item {
    vertical-align: top; }

.social-media-list-item {
  border-radius: 50%; }
.social-media-list .facebook {
  background: #bed33f url(../../images/icon-facebook-white.png) no-repeat center center; }
.social-media-list .vk {
  background: #bed33f url(../../images/icon-wk-white.png) no-repeat center center; }
.social-media-list .inst {
  background: #bed33f url(../../images/icon-inst-white.png) no-repeat center center; }

.search-block-footer .search,
.dropdown-menu-search .search {
  border-radius: 3px;
  padding-left: 15px; }
.search-block-footer .button-submit,
.dropdown-menu-search .button-submit {
  background-color: transparent;
  border: none;
  background: url(../../images/icon-search-form.png) no-repeat 0 0; }

.menu-column {
  padding: 0; }
  .menu-column:last-child {
    padding: 0; }

@media (min-width: 720px) {
  .footer-main {
    padding-top: 55px;
    padding-bottom: 50px; }

  .footer-bottom {
    padding-top: 55px;
    padding-bottom: 55px; }

  .main-content .main-content-list .horizontal-block .expanded-description-block {
    padding: 25px 75px 25px 30px; }

  .dropdown-menu li {
    text-indent: -17px; } }
@media (min-width: 1200px) {
  .main-content .taxes {
    background: url(../../images/taxes-background-desk.png) no-repeat center center; }
  .main-content .ai {
    background: url(../../images/ai-background-desk.png) no-repeat center center; }
    .main-content .ai:hover {
      cursor: pointer;
      background: #216c8a; }
  .main-content .office-process {
    background: url(../../images/office-process-background-desk.png) no-repeat center center; }
  .main-content .personal {
    background: url(../../images/personal-manage-background-desk.png) no-repeat center center; }
  .main-content .center {
    background: url(../../images/center-background-desk.png) no-repeat center center; }
  .main-content .agency {
    background: url(../../images/agency-background-desk.png) no-repeat center center; }
  .main-content .technology {
    background: url(../../images/technology-background-desk.png) no-repeat center center; }
  .main-content .news-first {
    background: url(../../images/news-1-desk.png) no-repeat center center; }
    .main-content .news-first:hover {
      background: url(../../images/news-1-desk.png) no-repeat center center; }
  .main-content .news-second-image {
    background: url(../../images/news-2-back.png) no-repeat center center;
    height: 145px; }
  .main-content .news-description-inner {
    padding-left: 52px;
    padding-top: 75px; }
  .main-content .news-first-description {
    cursor: pointer;
    background: #dfaa85; }
    .main-content .news-first-description:hover {
      cursor: pointer;
      background: #dd9665; }
  .main-content .news-archive {
    background-color: #5978b6; }
    .main-content .news-archive:hover {
      cursor: pointer;
      background: #496299; }
  .main-content .media-archive {
    background-color: #5978b6; }
  .main-content .social-media .vk {
    background: url(../../images/social-vk-inactive.png) no-repeat center center; }
    .main-content .social-media .vk:hover {
      background: url(../../images/social-vk-active.png) no-repeat center center; }
  .main-content .social-media .facebook {
    background: url(../../images/social-fb-inactive.png) no-repeat center center; }
    .main-content .social-media .facebook:hover {
      background: url(../../images/social-fb-active.png) no-repeat center center; }
  .main-content .social-media .instagram {
    background: url(../../images/social-inst-inactive-mob.png) no-repeat center center; }
    .main-content .social-media .instagram:hover {
      background: url(../../images/social-inst-active-mob.png) no-repeat center center; } }

/*# sourceMappingURL=main.css.map */
