@font-face {
  font-family: FreeSetBlackC;
  src:  url('FreeSetBlackC.otf');
}

@import 'variables';
@import 'blocks';
@import 'main_classes';
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic);

// Main tags styles
html,
body {
  padding: 0;
  font: $font-base;
}
h1 {
  font: $font-base;
  font-weight: 600;
  font-size: 34px/38px;
}
ul {
  list-style: none;
  padding: 0;
  .parent-menu & {
    list-style-type: disc;
  }
}

//Header styles
.header {
  .logo-block {
    .company-name {
      text-transform: uppercase;
    }
    .main-logo {
      background: url(../../images/logo-main.png) no-repeat center center;
    }
  }
  .top-menu-list {
    font-size: 0;
    .navigation {
      background: $bg-primary url(../../images/icon-navigation.png) no-repeat center center;
      &:hover {
        background: $green url(../../images/icon-navigation-white.png) no-repeat center center;
      }
    }
    .sitemap {
      background: $bg-primary url(../../images/icon-sitemap.png) no-repeat center center;
      &:hover {
        background: $green url(../../images/icon-sitemap-white.png) no-repeat center center;
      }
    }
    .search {
      background: $bg-primary url(../../images/icon-search.png) no-repeat center center;
      &:hover {
        background: $green url(../../images/icon-search-white.png) no-repeat center center;
      }
    }
  }
}
.dropdown-menu-list {
  .dropdown-menu-navigation {
    .parent-menu {
      & > li {
        text-transform: uppercase;
      }
    }
  }
  .dropdown-menu-search,
  .dropdown-menu-navigation,
  .dropdown-menu-sitemap {
    background-color: $green;
  }
}

//Main content styles
.main-content {
  background: #dedede; /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%,#e2e4da 45%,#dfe2cc 66%,#d7dfa7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 ); /* IE6-9 */
  .page-title-block {
    background-color: $bg-primary-light;
  }
  .breadcrumb-block {
    padding-top: $padding-breadcrumb-top;
  }
  .dropdown-menu {
    font: $font-base;
    box-shadow: 0 2px 4px $grey;
    li {
      text-indent: $text-indent-li-bullet-mobile;
    }
    li::before {
      padding-right: $padding-li-bullet;
      content: "•";
      color: $white;
      font: $font-base;
    }
  }
}
//Footer styles
.footer-bottom {
  color: $white;
  text-align: center;
}
.social-media {
  &-item {
    border-radius: 50%;
  }
  .facebook {
    background: $green url(../../images/icon-facebook-white.png) no-repeat center center;
  }
  .vk {
    background: $green url(../../images/icon-wk-white.png) no-repeat center center;
  }
  .inst {
    background: $green url(../../images/icon-inst-white.png) no-repeat center center;
  }
}
.search-block-footer {
  .search {
    border-radius: 3px;
    padding-left: 15px;
  }
  .button-submit {
    background-color: transparent;
    border: none;
    background: url(../../images/icon-search-form.png) no-repeat 0 0;

  }
  .menu-block-footer {
    a {
      font-;
    }
  }
}

@include breakpoint(720px, 6) {
  .padding-general {
    padding-left: $padding-general-left;
    padding-right: $padding-general-right;
    padding-top: $padding-general-top;
    padding-bottom: $padding-general-bottom;
  }
  .padding-general-header {
    padding-left: $padding-general-left;
    padding-right: $padding-general-right;
  }
  .padding-general-footer-bottom {
    padding-left: $padding-general-left;
    padding-right: $padding-general-right;
    padding-top: $padding-general-top;
    padding-bottom: $padding-general-bottom;
  }
  .padding-general-page-title-block {
    padding-left: $padding-general-left;
    padding-right: $padding-general-right;
    padding-top: $padding-page-title-block-top;
    padding-bottom: $padding-page-title-block-bottom;
  }
  .dropdown-menu {
    li {
      text-indent: $text-indent-li-bullet;
    }
  }
}