@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic);
html,
body {
  min-width: 300px;
  height: 100%;
  margin: 0; }

h1 {
  margin: 0; }

ul {
  margin: 0; }

p {
  margin: 0; }

.header .logo-block {
  display: inline-block;
  height: 75px; }
  .header .logo-block .main-logo {
    display: inline-block;
    width: 45px;
    height: 100%; }
  .header .logo-block .company-name {
    display: none; }
.header .top-menu-block {
  display: inline-block; }
  .header .top-menu-block .navigation-list {
    display: none; }
  .header .top-menu-block .top-menu-list {
    display: inline-block;
    height: 75px; }
    .header .top-menu-block .top-menu-list-item {
      display: inline-block;
      height: 100%;
      width: 67px;
      position: relative; }
      .header .top-menu-block .top-menu-list-item img {
        margin: 0 auto;
        position: relative; }

.dropdown-menu-list {
  width: 100%;
  position: relative; }
  .dropdown-menu-list .dropdown-menu-navigation {
    position: absolute;
    top: 0;
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%; }
      .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 3.3333333333%;
        padding-right: 3.3333333333%; }
      .dropdown-menu-list .dropdown-menu-navigation .parent-menu .child-menu {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: right;
        padding-left: 3.3333333333%;
        padding-right: 3.3333333333%;
        margin-top: -38px; }
  .dropdown-menu-list .dropdown-menu-search {
    display: none;
    position: absolute;
    top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }

.main-page-slider {
  height: 550px; }
  .main-page-slider .slider-navigation {
    height: 100%;
    width: 100%;
    position: relative; }
    .main-page-slider .slider-navigation .prev {
      position: absolute; }
    .main-page-slider .slider-navigation .next {
      position: absolute; }
    .main-page-slider .slider-navigation .bottom-nav {
      position: absolute; }

.main-content-blocks-list .one-column {
  display: block; }
.main-content-blocks-list .main-content-blocks-list-item {
  height: 328px;
  margin-top: 14px;
  width: 100%; }
.main-content-blocks-list .taxes {
  position: relative;
  width: 100%; }
  .main-content-blocks-list .taxes .expanded-description-block {
    display: block;
    height: 60%;
    position: absolute;
    bottom: 0; }
    .main-content-blocks-list .taxes .expanded-description-block .short-description {
      margin-bottom: 55px; }

.logo-block-footer {
  display: inline-block; }
  .logo-block-footer .logo-item {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px; }

.social-media-list {
  display: inline-block; }
  .social-media-list-item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 17px; }
    .social-media-list-item:last-child {
      margin-right: 0; }

.form-field {
  position: relative;
  box-sizing: border-box; }

.search-block-footer {
  margin-top: 15px; }
  .search-block-footer .search {
    height: 30px;
    width: 100%; }
  .search-block-footer .button-submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 22px; }

.menu-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 3.3333333333%;
  padding-right: 3.3333333333%; }
  .menu-column:last-child {
    margin-top: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 3.3333333333%;
    padding-right: 3.3333333333%; }
  .menu-column li {
    margin-top: 10px; }

@media (min-width: 380px) {
  .header .logo-block .main-logo {
    margin-right: 10px; }
  .header .logo-block .company-name {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle; } }
@media (min-width: 720px) {
  .logo-block-footer {
    float: left; }

  .social-media-list {
    float: right; }

  .menu-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
    margin-top: 55px; }
    .menu-column:last-child {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: right;
      padding-left: 1.6666666667%;
      padding-right: 1.6666666667%;
      margin-top: 55px; }

  .search-block-footer {
    margin-top: 55px; } }
@media (min-width: 1200px) {
  .header .top-menu-block {
    float: right; }
    .header .top-menu-block .navigation-list {
      display: inline-block;
      height: 75px; }
      .header .top-menu-block .navigation-list-item {
        display: inline-block;
        text-transform: uppercase;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
        color: #fff;
        font-size: 13px; }
      .header .top-menu-block .navigation-list .navigation-list-item::before {
        padding-right: 10px;
        padding-left: 10px;
        content: "•";
        color: #bed33f;
        font-size: 14px;
        font-weight: 600; }
      .header .top-menu-block .navigation-list .navigation-list-item:first-child:before {
        content: " "; }
    .header .top-menu-block .top-menu-list .navigation {
      display: none; } }
.clearfix {
  overflow: hidden;
  clear: both; }
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.padding-general {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-header {
  padding-left: 10px;
  padding-right: 10px; }

.padding-general-footer-bottom {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-general-page-title-block {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.primary-color {
  background-color: #6e7073; }

.primary-color-dark {
  background-color: #424750; }

.primary-color-light {
  background-color: #e2e2e2; }

.secondary-color-green {
  background-color: #bed33f; }

.horizontal-block .title {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; }
.vertical-block .title {
  font-size: 24px;
  font-weight: 600; }

.horizontal-block .short-description {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px; }

a {
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer; }
  .breadcrumb-block a:hover {
    color: #587daa; }
  .menu-block-footer a {
    color: #fff; }
    .menu-block-footer a:hover {
      color: #bed33f; }
  .parent-menu a {
    color: #000; }
  .child-menu a:hover {
    color: #fff; }

.button-detail {
  background-color: #bed33f;
  color: #fff;
  border: none;
  padding: 12px 50px;
  text-transform: uppercase;
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600; }

html,
body {
  padding: 0;
  font: 400 15px/18px "Open Sans", sans-serif; }

h1 {
  font: 400 15px/18px "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 34px/38px; }

ul {
  list-style: none;
  padding: 0; }
  .parent-menu ul {
    list-style-type: disc; }

.header .logo-block .company-name {
  text-transform: uppercase; }
.header .logo-block .main-logo {
  background: url(../../images/logo-main.png) no-repeat center center; }
.header .top-menu-list {
  font-size: 0; }
  .header .top-menu-list .navigation {
    background: #6e7073 url(../../images/icon-navigation.png) no-repeat center center; }
    .header .top-menu-list .navigation:hover {
      background: #bed33f url(../../images/icon-navigation-white.png) no-repeat center center; }
  .header .top-menu-list .sitemap {
    background: #6e7073 url(../../images/icon-sitemap.png) no-repeat center center; }
    .header .top-menu-list .sitemap:hover {
      background: #bed33f url(../../images/icon-sitemap-white.png) no-repeat center center; }
  .header .top-menu-list .search {
    background: #6e7073 url(../../images/icon-search.png) no-repeat center center; }
    .header .top-menu-list .search:hover {
      background: #bed33f url(../../images/icon-search-white.png) no-repeat center center; }

.dropdown-menu-list .dropdown-menu-navigation {
  background-color: #bed33f; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu > li:hover {
      background-color: #ecf2c6; }
  .dropdown-menu-list .dropdown-menu-navigation .parent-menu .child-menu {
    padding-left: 35px; }
    .dropdown-menu-list .dropdown-menu-navigation .parent-menu .child-menu > li {
      padding-top: 10px;
      padding-bottom: 10px; }
.dropdown-menu-list .dropdown-menu-search {
  background-color: #bed33f; }

.main-content {
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dedede 0%, #e2e4da 45%, #dfe2cc 66%, #d7dfa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#d7dfa7',GradientType=0 );
  /* IE6-9 */ }
  .main-content .page-title-block {
    background-color: #e2e2e2; }
  .main-content .breadcrumb-block {
    padding-top: 35px; }
  .main-content .dropdown-menu {
    font: 400 15px/18px "Open Sans", sans-serif;
    box-shadow: 0 2px 4px #a0a0a0; }
    .main-content .dropdown-menu li {
      text-indent: 0px; }
    .main-content .dropdown-menu li::before {
      padding-right: 10px;
      content: "•";
      color: #fff;
      font: 400 15px/18px "Open Sans", sans-serif; }
  .main-content .main-content-blocks-list {
    padding-left: 10px;
    padding-right: 10px; }
    .main-content .main-content-blocks-list .horizontal-block .title {
      padding: 25px 30px;
      text-indent: -20px; }
    .main-content .main-content-blocks-list .horizontal-block .title::before {
      padding-right: 10px;
      content: "•";
      color: #bed33f;
      font-size: 24px;
      font-weight: 600; }
    .main-content .main-content-blocks-list .horizontal-block .expanded-description-block {
      padding: 25px 30px; }
    .main-content .main-content-blocks-list .taxes {
      background: url(../../images/taxes-background.png) no-repeat center center; }
      .main-content .main-content-blocks-list .taxes > .expanded-description-block {
        background-color: #fff; }
    .main-content .main-content-blocks-list .ai {
      background: url(../../images/ai-background.png) no-repeat center center; }
    .main-content .main-content-blocks-list .office-process {
      background: url(../../images/office-process-background.png) no-repeat center center; }
    .main-content .main-content-blocks-list .personal {
      background: url(../../images/personal-manage-background.png) no-repeat center center; }
    .main-content .main-content-blocks-list .center {
      background: url(../../images/center-background.png) no-repeat center center; }
    .main-content .main-content-blocks-list .agency {
      background: url(../../images/agency-background.png) no-repeat center center; }
    .main-content .main-content-blocks-list .technology {
      background: url(../../images/technology-background.png) no-repeat center center; }

.footer-bottom {
  color: #fff;
  text-align: center; }

.logo-block-footer {
  vertical-align: top; }
  .logo-block-footer .logo-item {
    vertical-align: top; }

.social-media-list-item {
  border-radius: 50%; }
.social-media-list .facebook {
  background: #bed33f url(../../images/icon-facebook-white.png) no-repeat center center; }
.social-media-list .vk {
  background: #bed33f url(../../images/icon-wk-white.png) no-repeat center center; }
.social-media-list .inst {
  background: #bed33f url(../../images/icon-inst-white.png) no-repeat center center; }

.search-block-footer .search {
  border-radius: 3px;
  padding-left: 15px; }
.search-block-footer .button-submit {
  background-color: transparent;
  border: none;
  background: url(../../images/icon-search-form.png) no-repeat 0 0; }

.menu-column {
  padding: 0; }
  .menu-column:last-child {
    padding: 0; }

@media (min-width: 720px) {
  .padding-general {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 35px;
    padding-bottom: 35px; }

  .padding-general-header {
    padding-left: 75px;
    padding-right: 75px; }

  .padding-general-footer-bottom {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 55px;
    padding-bottom: 55px; }

  .padding-general-page-title-block {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 55px;
    padding-bottom: 55px; }

  .dropdown-menu li {
    text-indent: -17px; } }

/*# sourceMappingURL=main.css.map */
